exportPattern("^[[:alpha:]]+")
importFrom("stats", "cov", "fisher.test", "integrate", "pchisq","pnorm", "qchisq", "qf", "qnorm", "quantile", "sd", "var","dnorm", "optim","nlminb")
import(mvtnorm)
import(numDeriv)
export(unpaired_binary)
export(paired_binary)
export(clustered_binary_Se)
export(clustered_binary_Sp)
export(PPV_Leisenring)
export(NPV_Leisenring)
export(PPV_Pepe)
export(NPV_Pepe)
export(params_estimate_ordinal_unpaired)
export(params_estimate_continuous_unpaired)
export(roc.transformed)
export(params_estimate_continuous_paired)
export(params_estimate_ordinal_paired)
export(roctest_continuous_unpaired)
export(roctest_ordinal_unpaired)
export(roctest_continuous_paired)
export(roctest_ordinal_paired)
export(TPRtest_continuous_unpaired)
export(TPRtest_continuous_paired)
export(TPRtest_ordinal_unpaired)
export(TPRtest_ordinal_paired)
export(SEDT)
export(compareSe_unpaired)
export(compareSe_paired)
export(differ_continuous_unpaired)
export(differ_ordinal_unpaired)
export(differ_continuous_paired)
export(differ_ordinal_paired)
export(area_estimation_ordinal)
export(area_estimation_continuous)
export(area_ordinal_unpaired)
export(area_continuous_unpaired)
export(area_ordinal_paired)
export(area_continuous_paired)
export(area_logit_unpaired)
export(area_logit_paired)
export(Zou_params_estimate)
export(Zou_area)
export(Psi)
export(generate)
export(component)
export(roc_compare_Delong)
export(compare_partial_He)
export(cluster_area_compare)
